@page "/"
@inject IHttpClientFactory _clientFactory;
@inject NavigationManager navman;

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div class="container">
    <div class="row">
        <div class="col text-right">
            <button class="btn btn-primary" @onclick="@SignIn"><i class="oi oi-account-login"></i>&nbsp;&nbsp; Sign In</button>
        </div>
        <div class="col text-left">
            <button class="btn btn-primary" @onclick="@SignOut"><i class="oi oi-account-logout"></i>&nbsp;&nbsp; Sign Out</button>
        </div>
    </div>
</div>

<AuthorizeView>
    <Authorized>
        <p class="text-primary text-center"> You are successfully authorized</p>
    </Authorized>
    <NotAuthorized>
        <p class="text-danger text-center"> You are not signed in</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    public void SignIn()
    {
        navman.NavigateTo("SignIn");
    }

    public void SignOut()
    {
        navman.NavigateTo("Identity/Account/Logout", forceLoad: true);
    }

}
